
@{
    ViewBag.Title = "Index";
}

<h2>BootStrap</h2>

<div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-12">
            <h3>Column 4</h3>
            <p>1. <mark>The layout I see is a big title</mark> and underneath the title is 3 sections in a single row<br /> 
             and when we resize the page the row turns into 3 rows. <span class="text-danger">The page is responsive to resizing.</span> </p>
            <p>2. When the page is full screen there is 1 row and 3 columns and then when we decrease the size <br />
                the one row becomes 3 and the paragraphs are now in a single column. The text also is responsive <br />
                 when we increase and decrease the page size.   </p>
            <p>3. the <code>row</code> class defines a row, <code>col-sm-4</code> is for a column that is used for tablets <br />
                   the 4 is there because the columns must add up to 12 because bootstrap has a 12 wide grid.</p>
            <dl>       
              <dt>the container</dt> 
                <dd>is a fixed width container that is responsive.</dd>
                <dt>the jumbotron text-center</dt> 
                <dd>the jumbotron  is a big grey box that has rounded corners </dd> 
                   <dt>the text center</dt> 
                <dd>centers the text on the page</dd>   
            </dl> 
        </div>
    </div>
</div>